.main-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container {
    position: relative;
    text-align: center;
    color: rgb(255, 253, 253);
}

.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.centered-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
}

.exploring-btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    background:transparent;
    color: #fff;
    font-size: larger;
    font-weight: 400;
}

.exploring-btn:hover{
    background-color: #000;
    border: none;
}
