html {
    height: 100%;
}

body {
    color: black;
    scroll-behavior: smooth;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
}


.main-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-bottom-left-radius: 20% 10%;
    border-bottom-right-radius: 20% 10%;
}
.container-fluid{
    position: relative;
    text-align: center;
    color:#ffffff;
}

.centered {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    font-family: "Open Sans", Sans-serif;
    color: #fff;
}

.centered-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-family: "futura-pt-book", Sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.exploring-btn{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5rem 1rem;
    background:transparent;
    color: #fff;
    font-size: larger;
    font-weight: 700;

}

.exploring-btn:hover{
    background-color: #ffffff;
    color: #000;
    border: none;
}


/* Featured section */

.travel-image{
    width: 25vw;
    height: 40vh;
}

.all-title{
    color: #000;
    font-family: "Philosopher", Sans-serif;
}

/* span {
    color: #333;
    display: inline-block;
    position: relative;
    
    &::before,
    &::after {
        content: '';
        position: absolute;
        height: 1px;
        border-top: 1px solid #918f8f;
        top: 60%;
        width: 10rem;
        margin-right: 5px;
        margin-left: 5px;
    }
  
    &::after {
        left: 100%;
    }
  
    &::before {
        right: 100%;
    }
} */

.title{
    font-family: "Philosopher", Sans-serif;
}

/* about section */


.about-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.aboutme-text{
    font-size: larger;
}

.both-image{
    width: 30vw;
    height: auto;
}

.text{
    position: absolute;
    top: 2%;
    left: 45%;
    width:45vw;
    text-align:justify;
}

.beautiful-text{
    font-family: 'Dancing Script', cursive;
    text-transform: none;
    font-style: normal;
    font-size: 3rem;
    text-align:center;
    padding-bottom: 15px;
    -webkit-text-stroke: 1px #041e91;
    -webkit-text-fill-color: rgb(0, 0, 0);
}
