.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #171515;
    padding: 0.5rem 10rem;
}
  
.navbar-brand h1 {
    color: white;
    margin: 0;
}
  
.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}
  
.navbar-links li {
    display: inline;
}
  
.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
  
.navbar-links a:hover {
    background-color: #555;
    border-radius: 5px;
}

.logo-image {
    width: 30px;
    height: 30px;
    margin-left: 5px; 
    margin-right: 10px;
    vertical-align: middle;
}