.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    color: #000;
    padding: 0.3rem 10rem !important;
}
  
.navbar-brand h1 {
   font: 1.5em sans-serif;
   font-weight: 400;
}
  
.navbar-link {
    position: absolute;
    top: 40%;
    right: 35%;
    list-style: none;
    display: flex;
    gap: 1rem;
}
  
.navbar-link li {
    display: inline;
}
  
.navbar-link a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0.5rem;
    font-weight: 700;
    font-size: larger;
}
  
.navbar-link a:hover {
    background-color: #555;
    color: #ffffff;
    border-radius: 5px;
}

.logo-image {
    width: 150px;
    height: 65px;
    margin-left: 5px; 
    margin-right: 10px;
    vertical-align: middle;
    rotate: 50d;
}

.search-container {
    align-items: center;
    margin: 15px 0;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
    box-sizing: border-box;
    outline: none;
    transition: 0.4s;
}
  
.search-container input[type="text"]:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(88, 89, 89, 0.5);
}
  
.search-container button {
    background-color: #000000;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    transition: 0.3s;
}

.search-container button:hover {
    background-color: #fcfdff;
    color: #000;
}
